@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .amazon-btn {
    @apply bg-yellow-400 hover:bg-yellow-500 text-black font-semibold py-2 px-4 rounded transition;
  }
}
